.buttonGroup {
  display: flex;
  gap: 0.375rem;
  margin-top: 0;
}

.buttonGroup > * {
  flex: 1;
  text-align: center;
  width: 100%;
  min-width: 0;
  position: relative;
}

.buttonGroup > * > *:first-child {
  width: 100%;
}